:80 {
    root * /srv/caddy/frontend
    file_server
    try_files {path} /index.html

    handle /api/* {
        reverse_proxy menu_app_backend:3001
    }

    handle /ws {
        reverse_proxy app:3001
    }

    log {
        output file /var/log/caddy/access.log
    }
}
